@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {

    margin: 0px;
}

body {

    color: #ffffff;
    background-color: #151515;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {

    color: #999999;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {

    color: #eeeeee;
}
