html, body {

    margin: 0px;
    min-height: 100%;
}

body {

    color: #aaaaaa;
    background-color: #151515;
    background: linear-gradient(#151515, #3e3e3e);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

h2 {

    margin: 0px;
    margin-bottom: 5px;
    color: #dddddd;
    font-size: 30px;
}

p {

    margin: 5px;
    max-width: 450px;
    display: inline-block;
}

a {

    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {

    color: #ff0022;
}

#icon {

    width: 100px;
    height: 100px;
}
