html, body {

    margin: 0px;
    min-height: 100%;
}

body {

    color: #aaaaaa;
    background-color: #151515;
    background: linear-gradient(#151515, #3e3e3e);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

h1 {

    margin: 0px;
    color: #ffffff;
    font-size: 30px;
}

h2 {

    margin: 0px;
    margin-bottom: 5px;
    color: #dddddd;
    font-size: 30px;
}

p {

    margin: 5px;
    max-width: 450px;
    display: inline-block;
}

a {

    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {

    color: #ff0022;
}

#icon {

    width: 100px;
    height: 100px;
}

#slideshow {

    width: 320px;
    height: 635px;
    position: relative;
    display: inline-block;
    margin: 5px;
}

.screenshots {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 635px;
}

@keyframes crossfade {
    
    0% { opacity: 1; }
    20% { opacity:1; }
    35%{ opacity: 0; }
    85% { opacity:0; }
    100% { opacity:1; }
}

#screenshot1 {

    animation:crossfade 15s 0s infinite;
}

#screenshot2 {

    animation:crossfade 15s 3s infinite;
}

#screenshot3 {

    animation:crossfade 15s 6s infinite;
}

#signature {

    font-size: 15px;
    margin-bottom: 20px;

    a {

        color: #aaaaaa;
    }

    a:hover {

        color: #ffffff;
    }
}

#appstore {

    height: 100px;
}

.links {

    margin: 15px;
    margin-bottom: 20px;
    font-size: 16px;
}

@media (min-width: 700px) and (min-height: 500px) {

    h1 {

        font-size: 50px;
    }

    .links {
    
        font-size: 18px;
    }
}
